.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  margin-top: 100px;
  border-top: 1px solid #efefef;
  font-size: 80%;
}

header li {
  display: inline;
  border: 1px solid #666;
  padding: 3px 6px;
}
header li a {
  color: white;
}
header li a.active {
  font-weight: bold;
  text-decoration: none;
}
